body {
  background-image: url(../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 100%;
  max-width: 1500px;
  margin: 0 auto;
  scroll-behavior: smooth;
  display: grid;
  grid-template-areas:
  "a a a a a a"
  "b b b b b b"
  "c c c c c c";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: auto;
  margin: 4% auto;
  width: 960px;
}
header {
  grid-area: a;
  padding: 3% auto;
  height: 20%;
  text-align: left;
}
nav ul {
  display: block;
  position: static;
  width: auto;
  border: none;
  margin-top: -3%;
  background: #36393f;
}
nav li {
  display: inline-block;
  padding: 20px;
}
nav ul a {
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f6f6f6;
}
nav ul a:hover {
  color: #7289DA;
}
/* bottom border hover animation */
.border-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #f6f6f6;
  transition: width .4s;
}
.border-link:hover::after {
  width: 100%;
}
h1 {
  font-family: serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #838383;
  padding: 3% 3% 0% 3%;
  margin-top: -2%;
}
main {
  grid-area: b;
  text-align: center;
  background: #2C2F33;
  padding: 12px 10px 92px 10px;
  border: 1px solid #c8c8c847;
}
/* Form Styles */
form {
  background-color: #36393f;
  width: 27%;
  margin: auto;
  padding: 4%;
  border: 1px solid #7289da;
  display: inline-grid;
}
input[type=text] {
  border: transparent;
  border-bottom: 1px solid #c8c8c847;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  padding: 9px 7px;
  margin: 7px 0;
  background: transparent;

}
select {
  outline: none;
  border: none;
  height: 137%;
  padding-left: 5%;
}
::placeholder {
  color: #7289da;
}

/* Footer Styles */
footer {
  grid-area: c;
  margin-top: 1%
}
footer p {
  color: #f6f6f6;
  font-size: 12px;
  text-transform: uppercase;
}
/* Footer Soical Icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
footer ul  {
  display: block;
  position: static;
  width: auto;
  margin-left: 6%;
}
footer li {
  display: inline-block;
  padding: 0px;
  margin-left: -11%;
}
footer ul a {
  letter-spacing: 1px;
  text-decoration: none;
}
footer ul a:hover {
  filter: brightness(2.4);
  transition: all .7s ease-in;
}
.footer-icon {
  width: 25%;
}
footer hr {
  border-bottom: 1px solid #7289da;
  margin-top: 1%;
}
.hidden {
	display: none;
}
