body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

@media (max-width: 700px) {
  
  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
main,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  height: 10vw;;
}
nav ul {
  display: block;
  position: static; 
  width: auto;
  border: none;
}
nav li {
  display: inline-block;
  /* padding: 18px; */
  background: #e4e9e8;
  width: auto;
}
nav li:hover {
  background: transparent;
}

nav li a {
  display: block;
  padding: 23px;
  background: #67809f;
  text-decoration: none;
  color: #e4e9ed;
  transition: all .4s ease-out;
}
nav li a#selected {
  background: rgb(243, 14, 14);
  }
nav ul a:hover {
  background-color: #e4e9ed;
  transition: all .4s ease-in;
  transform: translate(0px, -8px);
}


form {
  background-color: blue;
}
.hidden {
	display: none;
}