body {
  font-size: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
main {
    display: grid;
    grid-template-areas:
    "nav nav nav nav nav nav";
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: minmax(50px,auto);
    background: rgb(148, 170, 231);
  }


.hidden {
	display: none;
}
form {
  background-color: blue;
}